streamlit==1.22.0
pandas==1.5.3
numpy==1.24.3
matplotlib==3.7.1
plotly==5.13.1
geopandas==0.12.2
folium==0.14.0
streamlit-folium==0.11.0
pydeck==0.8.1b0
altair==4.2.2
scikit-learn==1.2.2
transformers==4.28.1
networkx==3.1
pyvis==0.3.2
Pillow==9.5.0
opencv-python-headless==4.7.0.72
google-cloud-bigquery==3.10.0
boto3==1.26.133
azure-core==1.27.1
xgboost==1.7.5
joblib==1.2.0